# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
*.sqlite3

# Flutter / Dart
.dart_tool/
.packages
.buildlog/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
*.iml
android/.gradle
ios/Pods/

# Node
node_modules/

# OS
.DS_Store
